<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://cdn.boxicons.com/3.0.5/fonts/basic/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="style.css">
    <title>tst</title>
</head>
<body>

    <div class="container">
        <form action="" id="formLogin">

            <h1><i class='bx-lg bx-user-circle'></i> </h1>
            <div class="divEmail">
                <h3>Email</h3>
                <input type="text" placeholder="ex: conta@gmail.com" id="email">
            </div>

            <div class="divSenha">
                <h3>senha</h3>
                <input type="password" placeholder="password" id="password">
            </div>
            
    
            <button class="logar">Logar</button>
            <!--Esse Button e para teste, Essa criação e para ver a senha-->
            <button type="button" onclick="visualSenha()" class="logar">View Password</button> 
            
            
            
            <div>
                <span>Primeiro Acesso?</span>
                <span><a href="">Clique Aqui!</a></span>
            </div>
            
        </form>
    </div>

    <script src="script.js"></script>
</body>
</html>