*{
    padding: 0;
    border: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    
    color: white;
}

.meuFundo{
    background-image: url(img/Design\ sem\ nome.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 903px;
}

body{
    background-color: black;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(29, 29, 31);

    padding-top: 50px;
    border: 5px solid white;
    border-radius: 0px 100px;
}

h1{
    font-size: 150px;
    position: absolute;    
    top: 4%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h3{
    color: white;
    text-align: left;
    margin-left: 10px;
}


form{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

input{
    background-color: rgba(240, 248, 255, 0);
    border: 2px solid white;
    border-radius: 100px;
    height: 25px;
    width: auto;
    margin-bottom: 10px;
    font-size: 25px;
    padding: 10px;

    color: white;
}

.logar{
    border: 2px solid white;
    border-radius: 10px;
    

    color: white;
    background-color: rgb(75, 193, 233);

    font-size: 30px;
    font-weight: bold;

    width:300px;
    padding: 5px;
    text-align: center;
    cursor: pointer;

    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
span{
    font-size: 12px;
}
a{
    margin-left: 100px;
}


