*{
    border: 0px;
    padding: 0px;
    margin: 0px;

    font-family: "Poppins", sans-serif;
}
body{
    background-image: url(img/Background.svg);
    background-repeat: no-repeat;

    background-color: #302f2f;
    
    display: flex;
    flex-direction: column;

    text-align: center;
    justify-content: center;
    min-height: 100vh;
}

.ap{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;

    font-size: 25px;
    text-align: center;
    
    width: 600px;
    min-height: 100px;
}
.ap h1{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    color: white
}

form{
    margin-left: auto;
    margin-right: auto;
    
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;
    max-width: 500px;
}
form h2{
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.boxInput{
    display: flex;
    flex-direction: column;
}
.boxInput span{
    color: white;
    font-size: 20px;
    font-weight: bold;
    
    text-align: left;
    margin-left: 70px;
}
.boxInput input{
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    
    font-size: 30px;
    font-weight: 500;

    height: 50px;
    width: 400px;

    color: white;
    background-color: #171515;
    border-radius: 10px;
}

.viewButton{
    position: relative;
}
.viewButton button{
    position: absolute;
    
    margin-top: 4px;
    margin-left: -40px;
    
    background-color: #171515;
    border-radius: 3px;
    border: none;
    color: white;
    cursor: pointer;
}

.btnLogin span{
    margin-top: 0px;
    font-size: 15px;
    color: white;
}
.btnLogin a{
    margin-left: 100px;
    color: white;
}

#btnSubmit{
    font-size: 25px;
    font-weight: bold;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;

    margin-top: 10px;
    margin-bottom: 20px;
    width: 300px;

    cursor: pointer;
}