<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Importação da FontsGoogle -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
<!-- Importação da FontsGoogle -->

<!-- Importação dos Icons -->
    <link href='https://cdn.boxicons.com/3.0.5/fonts/basic/boxicons.min.css' rel='stylesheet'>
    <link href='https://cdn.boxicons.com/3.0.3/fonts/transformations.min.css' rel='stylesheet'>
<!-- Importação dos Icons -->

    <link rel="stylesheet" href="style.css">
    <title>Login</title>
</head>
<body>
    
    <main>    

        <div class="nameTitle">
            <h1>ByteStore</h1>
        </div>

        <form action="" id="formLogin">


            <h2>Login</h2>
            
            <div class="boxInput">
                <span>Nome: </span>
                <input type="text" name="nome" id="nome" placeholder="Cleiton">
            </div>
            
            
            <div class="boxInput">
                <span>Email: </span>
                <input type="email" name="email" id="email" placeholder="Cleiton@gmail.com">
            </div>
            

            <div class="boxInput">
                <span>Senha: </span>
                <div class="viewSenha">
                    <input type="password" name="senha" id="senha" placeholder="senha">
                    <button type="button" class="btnView" onclick="viewSenha()"><i class='bxr  bx-eye-slash bx-md' id="meuIcon"></i> </button>
                    <!-- <i class='bxr  bx-eye-alt'></i>  -->
                </div>
            </div>
            
            
            <button class="btnLogar">Logar</button>

            <div id="acessoCadastro">
                <span>não tem um Login?</span>
                <span><a href="">Clique Aqui!</a></span>
            </div>
        </form>

        

    </main>
    <script src="script.js"></script>
</body>
</html>